<!DOCTYPE html>
<!--STATUS OK-->
<html>
	<!--<script src="http://js.mtf.com:8081/jquery/dist/jquery.js"></script>-->
	<script src="./application/js/jquery.js"></script>
	<script src="./application/js/vue3.js"></script>
	<script src="./application/data/log/data.js"></script>


	<body>
		<!--
		<table id="page">
			<tr v-for="i in data">
				<td>
					&lt;a target="_blank" href="{{i}}">{{i}}&lt;/a>
				</td>
			</tr>
		</table>
		-->
		<table id="page">
			<tr>
				<td>
					<a  href="./application/data/log/url" id="fuck">Url Folder Download</a>
				</td>
			</tr>
			<tr v-for="i in data">
				<td>
					<a  href="" id="fuck">..............</a>
				</td>
			</tr>
		</table>
	</body>

	<script>
		var i = 0;
function clock(){
	i++;
	if(i<data.length){
		$("#fuck").attr("href",data[i]);
		$("#fuck")[0].click();
	}
}

//setInterval("clock()",500);


const { createApp } = Vue

createApp({
	data() {
		return {
			//'data' : data,
			'data':[],
		}
	}
}).mount('#page')


	</script>
</html>
